AWS Replicate/Fal.ai Kling 2.1 동영상 다운로드.json
{
  "name": "Fal.ai Kling 2.1 동영상 다운로드 copy",
  "nodes": [
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key xxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        128
      ],
      "id": "f14c95f9-d0f8-4514-94f6-5d04c71b8528",
      "name": "상태조회"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c03b0c21-7813-4abc-99d6-1f5d48b4e963",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        128
      ],
      "id": "52d551d7-8ed6-44f7-bbd8-7f2f2a79578f",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        32
      ],
      "id": "84a46527-3852-4015-97bd-665f155475f9",
      "name": "생성 결과 조회"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        32
      ],
      "id": "dc2c80a8-7bca-4bdb-a66d-8a3f9984a59e",
      "name": "동영상 다운로드"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "asirio",
        "fileName": "=kling/{{ $json.video.url.split(\"/\").last() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        784,
        32
      ],
      "id": "27863a5a-3f4e-4591-9548-f6583813248e",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "JoxiYaidEVDxmGJL",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd0cc9bb-e5a3-40b1-9bac-ae37d8018741",
              "name": "video_url",
              "value": "=https://dspnumvazg60a.cloudfront.net/kling/{{ $('동영상 다운로드').item.json.video.url.split(\"/\").last() }}",
              "type": "string"
            },
            {
              "id": "c5ca4057-70ea-4dbf-82ca-a6c267e8cdee",
              "name": "result",
              "value": "동영상 생성이 완료되었습니다. video_url을 확인하세요.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        32
      ],
      "id": "20aa50b3-d10a-41e0-9399-bf298e2b3ca8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        208
      ],
      "id": "edefb622-1b1b-4aa0-84bc-fffe0e237365",
      "name": "Wait",
      "webhookId": "4654e3a3-79c7-486c-929b-9574d9f3cd85"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        128
      ],
      "id": "16c8de3b-e72d-4317-a061-12e2b5fa37e4",
      "name": "parameters"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $('parameters').item.json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        208
      ],
      "id": "aa4c875e-c320-42cc-b07d-4c91697fd9f2",
      "name": "상태조회1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c03b0c21-7813-4abc-99d6-1f5d48b4e963",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        208
      ],
      "id": "670737a5-aba4-454f-9637-7873e4ce64ea",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba17fd2a-24ee-4ee6-b68b-0bd7ee60eb43",
              "name": "result",
              "value": "동영상 아직 생성중입니다. 다시 상태확인을 요청하세요.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        240
      ],
      "id": "56cf4289-243a-49e4-b053-2d60c554a673",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "상태조회": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "생성 결과 조회",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "생성 결과 조회": {
      "main": [
        [
          {
            "node": "동영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "동영상 다운로드": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "상태조회1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parameters": {
      "main": [
        [
          {
            "node": "상태조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태조회1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "생성 결과 조회",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "045b135f-792c-42e9-91f1-e38b24804f79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aadbff4410dd9d1786f247987e16ea2f31e4d42d2dd7d7f51389a021736ae496"
  },
  "id": "ozhC4HjbAHSET5FW",
  "tags": []
}