AWS Replicate/Fal.ai Kling 2.1 동영상 생성기.json
{
  "name": "Fal.ai Kling 2.1 동영상 생성기 copy",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "image_url"
            },
            {
              "name": "negative_prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        -16
      ],
      "id": "9c802bf5-babe-4a8e-b520-1a99bbaa55eb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v2.1/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key xxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=prompt",
              "value": "={{ $json.prompt ?? \"\" }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "negative_prompt",
              "value": "={{ $json.negative_prompt ?? \"blur, distort, and low quality\"  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -16
      ],
      "id": "1863dc3e-bcbd-443a-ade1-190263ec27d1",
      "name": "Fal.ai 동영상 생성 요청"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b4c5de-a1a1-491a-aba3-cb898ad18701",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "a8d01c41-6b24-4aaa-95ff-b8f60825a464",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -16
      ],
      "id": "ff109669-33d9-4e7d-adfb-78ed9b6c1675",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fal.ai 동영상 생성 요청",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.ai 동영상 생성 요청": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7235ebe-807d-4305-b23a-73ac1c4a0905",
  "meta": {
    "instanceId": "aadbff4410dd9d1786f247987e16ea2f31e4d42d2dd7d7f51389a021736ae496"
  },
  "id": "DcM1GapKIM4d0KRe",
  "tags": []
}