AWS Replicate/영상생성 기획 워크플로.json
{
  "name": "영상생성 기획 워크플로 copy",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "story"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -128
      ],
      "id": "82e82ee3-ecfa-4bd2-843f-3c8dd5563bdb",
      "name": "paramters"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=* 일반 지침\n동물 Shorts Video(30초 동영상)을 만들어야해.\n30초 내외의 귀엽고 재밌는 유머러스한 영상을 기획해야되.\n\n* 세부 지침\n - 아래 요청 스토리를 참고해서 요청된 스토리에 align되는 어색하지 않게 연결되는 플롯을 아래 구조에 맞게 생성해줘.\n - 각 장면에는 주인공 동물이 포함되어 묘사가 되어야 해.\n - 총 6개 장면(Scene)을 한글로 묘사해서 description 항목에 생성해서 넣어줘. (각 장면은 150-200자로 작성)\n - 각 묘사된 내용을 바탕으로 AI 이미지 생성용 프롬프트를 영어로 작성해줘.\n - 각 Scene별 자막을 생성해줘. 한글로 2줄 이내, 한줄에 한글 12자 이내로 작성해줘. 줄바꿈이 필요할시 '첫 번째 줄\\n두 번째 줄' 처럼 생성해줘. 문어체로 생성해서, 자연스러운 나레이션이 되도록해줘.\n\n* 스토리\n - {{ $json.story }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        48,
        -128
      ],
      "id": "1fc3aefe-da33-4073-b690-deb7897fad27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scene1\": {\n    \"description\": \"장면묘사1\",\n    \"prompt\": \"장면묘사1에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사1에 대한 한글 자막\"\n  },\n  \"scene2\": {\n    \"description\": \"장면묘사2\",\n    \"prompt\": \"장면묘사2에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사2에 대한 한글 자막\"\n  },\n  \"scene3\": {\n    \"description\": \"장면묘사3\",\n    \"prompt\": \"장면묘사3에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사3에 대한 한글 자막\"\n  },\n  \"scene4\": {\n    \"description\": \"장면묘사4\",\n    \"prompt\": \"장면묘사4에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사4에 대한 한글 자막\"\n  },\n  \"scene5\": {\n    \"description\": \"장면묘사5\",\n    \"prompt\": \"장면묘사5에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사5에 대한 한글 자막\"\n  },\n  \"scene6\": {\n    \"description\": \"장면묘사6\",\n    \"prompt\": \"장면묘사6에 대한 AI 이미지생성 프롬프트\",\n    \"caption\": \"장면묘사6에 대한 한글 자막\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        224,
        128
      ],
      "id": "cc3d1ecd-c725-4787-8bae-3e40ea7020c4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        144
      ],
      "id": "51adc9d8-abf6-4efc-bfba-ed444cc3e866",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "phcKV5yWdTuHuJrD",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "paramters": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b0646da-d74f-4393-abc5-9f0b93defbe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aadbff4410dd9d1786f247987e16ea2f31e4d42d2dd7d7f51389a021736ae496"
  },
  "id": "dY85waK6YvlKY0td",
  "tags": []
}